


h1 {
    color: #82adfc;
    font-size: 50px;
    text-align: center;
    font-family: 'Shizuru', cursive;
    width: 78%;
    margin: 0 auto;
    float: left;
    margin-bottom: 3%;
}

body {
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    border-color: #82adfc;
    padding: 5px 10px 5px 10px;
}

h2 {
    margin-left: 300px;
    margin-right: 150px;
    font-family: 'Pangolin', cursive;
    color: #3a517a;
    font-size: 20px
}


span {
    color: #82adfc;
        
}

h3 {
    margin-left: 300px;
    font-family: 'Pangolin', cursive;
    font-size: 10px;
    color: #3a517a;
    margin-bottom: 3%;
}
    

.small-everything {
    border-width: 20px;
    border-style: double;
    border-radius: 150px;
    border-color: #82adfc;
    width: 200px;
    margin-left: 2%;
    margin-block-end: auto;
    
    
}




.blog-Shizuru-font {
font-size: 20px; 
font-family: 'Shizuru', cursive;
color: #22314c;
}

.blog-Pangolin-font {
font-size: 15px; 
font-family:'Pangolin', cursive;
color: #3a517a;
}

P { margin-right: 40px;
    margin-left: 40px;

}

body {
    font-family: 'Pangolin', cursive;
    font-size: small;
}

#social-border {
    border-color: #82adfc;
    border-width: 2px;
    border-style: dashed;
    border-radius: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-left: 5px;
    padding-right: 10px;
}

.image-left-1 {
    width: 10%;
    float: left;
    margin-left: 3%;
    margin-right: 1%;
    margin-top: 0.5%;
    border-radius: 10%;

}

.box-break-1 {
    border-width: 10px;
    border-style: double;
    border-radius: 50px;
    border-color: #82adfc;
    margin-bottom: 1%;
    margin-left: 300px;
    margin-right: 180px;
}


.color-line-1{
    background-color: #e99d7a;

}

.color-line-2{
    background-color: #bad5e4;

}


.topright {
    position: absolute;
    right: 200px;
    font-size: 10px;
    color: #22314c;
  }

  table{
    font-family: 'Pangolin', cursive;
    color: #3a517a;
    width: 100%;
    height: 30px;
    margin-top: 5%;
    


}

th {
	text-align: center;
}

td {
	text-align: center;
}

tr {
    color: #3a517a;
}

tr:hover {
    color: #82adfc;
}

.social-icon {
    color: #3a517a;
}

a {
    color: #3a517a;
    text-decoration: none;
}

.left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left
  }

div
{white-space: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: center;
  }

  .right{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: center;
}